.display {
  font-weight: 800;
  font-size: 36px;
  line-height: 44px;
  text-align: end;
  padding: 4px 8px;
  background-color: #f3f4f6;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
}
